<section class="section">
  <header class="section__head">
    <h1 class="section__title">Edit discipline</h1>
  </header>

  <div class="card">
    <%= render "form", discipline: @discipline %>
  </div>
</section>
