<h1>New Todo</h1>
<div class="card">
  <%= render "form", project: @project, todo: @todo %>
</div>
<p style="margin-top:10px;"><%= link_to "Back to Project", project_path(@project), class: "btn btn--ghost" %></p>
